*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar .navbar-nav{
    margin-left: auto;
}
.navbar .navbar-nav .nav-item{
    margin-right: 10px;
}
.chkimage{
    color: green;
}
.leftBtn{
    background-color:rgb(46, 163, 46);
}
.leftBtn:hover{
    background-color:rgb(51, 180, 51) ;
}
body{
    background-color: rgb(246, 249, 250);
}
#footerLink:hover{
    border-bottom: 1px solid blueviolet;
}
footer img{
    width: 30px;
    height: 40px;
    margin: 0 10px;
}
footer p{
    margin-right: 50px;
}